* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*sharpening*/
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: normal;
}

:root {
    --dark: #080708;
    --light: #E6E8E6;
    --gray: #726953;
    --primary: #DF2935;
    --secondary: #3F88C5;
}

/*
Probably blocks the microsoft edge password reveal
::-ms-reveal {
    filter: invert(100%);
}
*/

.noSelect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.text1 {
    color: var(--light);

    font-size: 1.5em;
    text-decoration: none;

    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    font-style: normal;
}

.text2 {
    color: var(--light);

    font-size: 1.3em;
    text-decoration: none;

    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    font-style: normal;
}


.text1light {
    color: var(--light);
    font-weight: 300;

    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--dark);
}

header {
    position: fixed;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 64px;
    background-color: var(--dark);

    display: flex;
    justify-content: center;
    align-items: center;
}

.headerSectionLeft {
    height: 100%;
    width: 35%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 128px;
}

.headerSectionLeft .text1 {
    color: var(--light);
    font-size: 2em;

    padding-left: 0px;

    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.headerSectionRight {
    height: 100%;
    width: 65%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-right: 128px;
}

a {
    padding-left: 32px;
}

.underline:hover {
    text-decoration: underline;
}

button {
    height: auto;
    width: auto;

    padding: 8px 32px;

    outline: none;
    border: none;

    background-color: var(--primary);

    color: var(--light);

    font-size: 1.3em;
    text-decoration: none;

    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    font-style: normal;

    background-color: var(--dark);
    color: var(--light);

    border: 2px solid var(--light);

    cursor: pointer;
}

button:hover {
    background-color: var(--light);
    color: var(--dark);
}

.hero {
    position: relative;

    height: calc(100vh - 64px);
    margin-top: 64px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.backdrop {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    z-index: 0;
}

.heroLeft {
    width: 70%;
    height: 100%;

    padding: 128px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
}

.heroText {
    font-size: 8em;
    color: var(--dark);

    -webkit-text-stroke: 3px var(--light);

    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;

    line-height: 0.8em;
}

.heroRight {
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    z-index: 2;
}